.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  background-color: white;
  border-radius: 14px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid rgb(48, 48, 254);
  }
}
